fugle-realtime
pandas==0.24.2
numpy==1.18.1
requests==2.22.0
dash==1.9.1
dash-daq==0.1.7
dash-table==4.6.1
Django==3.0.11
appnope==0.1.0
decorator==4.0.4
dj-database-url==0.5.0
dj-static==0.0.6
gnureadline==8.0.0
gunicorn==20.0.4
ipython==4.0.0
ipython-genutils==0.1.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
simplegeneric==0.8.1
static3==0.6.1
traitlets==4.0.0
psycopg2-binary==2.8.6
parse==1.19.0
whitenoise==5.2.0
Jinja2==2.6
Werkzeug==0.8.3
certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
psycopg2>=2.6.1
